<div>
    <p>
        <textarea id="textarea" class="form-control textstyle" rows="20"></textarea>
    </p>
    <p>
        <textarea id="textarea2" class="form-control textstyle" rows="5"></textarea>
    </p>
    <p>
        <input class="form-control textstyle" id="input_txt">
    </p>
    <select id="select"></select>
    <p>
        <textarea id="test" style="color: red"></textarea>
    </p>
    <button type="button" class="btn btn-default" id="open">Open</button>
    <button type="button" class="btn btn-default" id="dis">Disconnect</button>
    <p style="margin-top: 15px;">
        <button type="button" class="btn btn-default" id="send">Send</button>
    </p>
</div>
<script src="js/serialport.js"></script>
