<div>
    <p>
    <span style="color: white;">COM</span>
        <input class="form-control textstyle" id="com">
    <span style="color: white;">PHONE</span>
        <input class="form-control textstyle" id="phone">

    </p>
    <button type="button" class="btn btn-default" id="open">STT</button>
    <button type="button" class="btn btn-default" id="dis">Disconnect</button>
    <!-- <p style="margin-top: 15px;">
        <button type="button" class="btn btn-default" id="send">Send</button>
    </p> -->
    <p style="margin-top: 15px;">
        <textarea id="textarea" class="form-control textstyle" rows="20"></textarea>
    </p>
    <p>
        <textarea id="textarea2" class="form-control textstyle" rows="5"></textarea>
    </p>
    <!-- <select id="select"></select> -->
    <!-- <p>
        <textarea id="test" style="color: red"></textarea>
    </p> -->
</div>
<script src="js/serialport.js"></script>
